<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> JJMessenger - General Chat </title>
    <% include cores/header.ejs %>

    <div class="container">
        <div class="main">
            <div class="row">
                <div id="messenger-chat">
                    <div id="chat-window">
                        <div id="output"></div>
                        <div id="feedback"></div>
                    </div>
                    <input id="handle" type="hidden" placeholder="Handle" class="chat-input" value="<%= username %>" />
                    <input id="message" type="text" placeholder="Message"  class="chat-input"  />
                    <button id="send" class="chat-send-btn" >Send</button>
                </div>
            </div>

            <br><br><br>

        </div>
    </div>
    <script src="/js/chat.js"></script>
    <div id="footerbox"></div>
    <% include cores/footer.ejs %>