
<div class="col-lg-12" style=" height: 39px; overflow: hidden;background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)) repeat scroll 0 0">

    <span style="margin-left:39%;" id="fbIcon"><a href="#"></a></span>
    <span id="twIcon"><a href="#"></a></span>
    <span id="utIcon"><a href="#"></a></span>
    <span id="inIcon"><a href="#"></a></span>
    <span id="lnIcon"><a href="#"></a></span>
    <span id="pinIcon"><a href="#"></a></span>
</div>

<div class="row" style="background-color: #000">

    <div class="col-md-12" style="background:linear-gradient(to right, rgba(214, 14, 14, 0), rgba(214, 14, 14, 0.75), rgba(214, 14, 14, 0));height: 10px;border: 0 none;">
    </div>




    <div class="col-md-12 ">
        <div class="col-md-3">
            <img class="topspace left" src="/images/toon.png" width="">
        </div>
        <div class="col-md-8 topspace">
            <footer class="page-footer center-on-small-only primary-color-dark">

                <!--Footer Links-->
                <div class="container-fluid">
                    <div class="row">


                        <!--<hr class="hidden-md-up">-->

                        <!--Second column-->
                        <div class="col-md-3 col-md-offset-1">
                            <h5 class="title">First column</h5>
                            <ul>
                                <li><a href="#!">Link 1</a></li>
                                <li><a href="#!">Link 2</a></li>
                                <li><a href="#!">Link 3</a></li>
                                <li><a href="#!">Link 4</a></li>
                            </ul>
                        </div>
                        <!--/.Second column-->

                        <!--<hr class="hidden-md-up">-->

                        <!--Third column-->
                        <div class="col-md-4">
                            <h5 class="title">Second column</h5>
                            <ul>
                                <li><a href="#!">Link 1</a></li>
                                <li><a href="#!">Link 2</a></li>
                                <li><a href="#!">Link 3</a></li>
                                <li><a href="#!">Link 4</a></li>
                            </ul>
                        </div>
                        <!--/.Third column-->

                        <!--<hr class="hidden-md-up">-->

                        <!--Fourth column-->
                        <div class="col-md-4">
                            <h5 class="title">Third column</h5>
                            <ul>
                                <li><a href="#!">Link 1</a></li>
                                <li><a href="#!">Link 2</a></li>
                                <li><a href="#!">Link 3</a></li>
                                <li><a href="#!">Link 4</a></li>
                            </ul>
                        </div>
                        <!--/.Fourth column-->

                    </div>
                </div>
                <!--/.Footer Links-->

                <!--Copyright-->

                <!--/.Copyright-->

            </footer>
            <!--/.Footer-->


        </div>
    </div>
    <div class="col-lg-12" style="color: white; text-align: center;height: 40px;">

        <!--<div class="col-lg-12" style="background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))"></div>-->
        <div class="col-lg-12" style=" height: 40px; overflow: hidden;background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)) repeat scroll 0 0">

            <p class="libel" style="margin-top: 1%; color: #f3f3f3"> Copy &copy Reserved 2017 </p>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {

//        alert("hi");


//        $('#scroller').click(function() {
//            $("html, body").animate({scrollTop: 0}, 600);
//            return false;
//        });


        $("#fbIcon").hover(function() {

                    $('#fbIcon').animate({
                        marginTop: '0'
                    }, 500);
                },
                function() {

                    $('#fbIcon').animate({
                        marginTop: '17'
                    }, 500);
                }
        );

        $("#twIcon").hover(function() {

                    $('#twIcon').animate({
                        marginTop: '0'
                    }, 500);
                },
                function() {

                    $('#twIcon').animate({
                        marginTop: '17'
                    }, 500);
                }
        );

        $("#lnIcon").hover(function() {

                    $('#lnIcon').animate({
                        marginTop: '0'
                    }, 500);
                },
                function() {

                    $('#lnIcon').animate({
                        marginTop: '17'
                    }, 500);
                }
        );

        $("#pinIcon").hover(function() {

                    $('#pinIcon').animate({
                        marginTop: '0'
                    }, 500);
                },
                function() {

                    $('#pinIcon').animate({
                        marginTop: '17'
                    }, 500);
                }
        );

        $("#goIcon").hover(function() {

                    $('#goIcon').animate({
                        marginTop: '0'
                    }, 500);
                },
                function() {

                    $('#goIcon').animate({
                        marginTop: '17'
                    }, 500);
                }
        );

        $("#inIcon").hover(function() {

                    $('#inIcon').animate({
                        marginTop: '0'
                    }, 500);
                },
                function() {

                    $('#inIcon').animate({
                        marginTop: '17'
                    }, 500);
                }
        );

        $("#utIcon").hover(function() {

                    $('#utIcon').animate({
                        marginTop: '0'
                    }, 500);
                },
                function() {

                    $('#utIcon').animate({
                        marginTop: '17'
                    }, 500);
                }
        );

    });

</script>
</body>
</html>