<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<script type="javascript" src="js/index.js"></script>
<script type="javascript" src="/js/jquery.hoverIntent.minified.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!--<script type="javascript" src="/js/jquery.min.js"></script>-->
<script type="javascript" src="/js/custom.js"></script>
<script type="javascript" src="/js/bootstrap.js"></script>
<script type="javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Messenger
                <% if(typeof username !== 'undefined'){
                %>
                 -  Welcome <%= username %>

                <% } %>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="/">Home</a></li>-->
                <!--<li><a href="/messenger">Messenger</a></li>-->
                <li><a href="/messenger">Chat</a></li>
                <li><a href="/private_chat">Private Chat</a></li>
                <li><a href="/group_chat">Group Chat</a></li>
                <% if(typeof username !== 'undefined'){ %>
                <li><a href="/logout">logout</a></li>
                <% }else{ %>
                <li><a href="/login">Login</a></li>
                <% } %>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

